@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .wrapper-ecto {
        background: -webkit-gradient( linear, left top, left bottom, from(0), color-stop(0%, #fce38ae6), to(#f38181e6)), url(../img/banner/eagle@2x.png) no-repeat center center;
        background: -webkit-linear-gradient( 0, #fce38ae6 0%, #f38181e6 100%), url(../img/banner/eagle@2x.png) no-repeat center center;
        background: -o-linear-gradient( 0, #fce38ae6 0%, #f38181e6 100%), url(../img/banner/eagle@2x.png) no-repeat center center;
        background: linear-gradient( 0, #fce38ae6 0%, #f38181e6 100%), url(../img/banner/eagle@2x.png) no-repeat center center;
        background-size: cover;
    }
}
 /*Лишь для мобильных */

/*@media (max-width: 747px) {
    .wrapper-header {
      

    }
}

/* Для планшета и ноутбуков */

/*@media (min-width: 748px) {
  
}

/*Лишь для планшета*/

/*@media (min-width: 748px) and (max-width: 941px) {
}

/*Лишь для ноутбуков*/

/*@media (min-width: 942px) {

}
/*.services-list__item:nth-child(n) {
     
}*/

/*.services-list__item:nth-last-child(n) {
   
}*/