/* Лишь для мобильных */

@media (max-width: 747px) {
    .header-wrapper {
        margin-bottom: 76px;
    }
}

/* Для планшета и ноутбуков */

@media (min-width: 748px) {
    .main-wrapper__partners--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }
    .header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
}

/*Лишь для планшета*/

@media (min-width: 748px) and (max-width: 941px) {
    .partners-list__item {
        flex-basis: 263px;
        padding: 0 0;
    }
    .main-wrapper__partners--list {
        width: 470px;
        margin-bottom: 42px;
    }
    .partner-2 {
        order: 1;
    }
    .partner-4 {
        order: 1;
    }
}

/*Лишь для ноутбуков*/

@media (min-width: 942px) {
    .partners-list__item {
        flex-basis: 220px;
    }
    .main-wrapper__partners--list {
        width: 910px;
    }
    .main-wrapper {
        margin-bottom: 76px;
    }
}